~*

.clang-tidy
zlog-cfg-cur

.vscode/
.vslick/

build/
coverage/
install/
private/

# Environment variables
/dpdk.env
/es2k.env

# CMake preload scripts
/dpdk.cmake
/es2k.cmake

# CMake user presets
/CMakeUserPresets.json
